<% layout("/layouts/boilerplates"); %>
<!--it can be done by ejs mate library -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h2 class="text-center mb-4">Create New Listing</h2>
        <form
          action="/listings"
          method="post"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
          <!-- Title -->
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              id="title"
              name="listing[title]"
              class="form-control"
              placeholder="Enter title"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- Description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              id="description"
              name="listing[description]"
              class="form-control"
              rows="3"
              placeholder="Enter description"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- category -->
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="listing[category]" required>
              <option value="" disabled selected>Select a category</option>
              <option value="trending">Trending</option>
              <option value="rooms">Rooms</option>
              <option value="iconic_cities">Iconic Cities</option>
              <option value="mountains">Mountains</option>
              <option value="castles">Castles</option>
              <option value="amazing_pools">Amazing Pools</option>
              <option value="camping">Camping</option>
              <option value="farms">Farms</option>
              <option value="artics">Arctic</option>
            </select>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- image -->
          <div class="mb-3">
            <label for="imageInput" class="form-label">Choose image(s)</label>
            <input
              class="form-control"
              type="file"
              id="imageInput"
              name="listing[image]"
              accept="image/png, image/jpeg, image/webp, image/gif"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- Price -->
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              id="price"
              name="listing[price]"
              class="form-control"
              placeholder="Enter price"
              required
            />
            <div class="invalid-feedback">Please enter valid price.</div>
          </div>

          <!-- Location -->
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              id="location"
              name="listing[location]"
              class="form-control"
              placeholder="Enter location"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- Country -->
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              id="country"
              name="listing[country]"
              class="form-control"
              placeholder="Enter country"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- Submit Button -->
          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-lg"
              style="background-color: #fe424d; color: #fff"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
